body {
    background-color: aquamarine;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 15fr 70fr 15fr;
}
article,
nav,
aside,
header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border: solid 1px black;
}
header {
    grid-column-start: 1;
    grid-column-end: 4;
}
nav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-end: 3;
}
article {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-end: 3;
}
aside {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-end: 3;
}
footer {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-end: 4;
}
