body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows:5fr 25fr 5fr;
}
article,
nav,
aside,
header,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    border: solid 1px black;
    box-sizing: border-box;
}

header{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}
nav {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
article {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
}
aside {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}
footer {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}
